<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>사전 알림 메일</title>
  <style>
    body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    #app {
      width: 500px;
      border: 1px solid;
      padding: 2rem;
      border-radius: 4px;
    }

    .sub-title {
      position: relative;
    }
  </style>
</head>
<body>
  <div id="app">
    <h4 style="margin-bottom: 1rem;" class="sub-title">[이선좌 티켓 / 관람일 D-[[${dayBefore}]]]</h4>

    <h2 style="margin-bottom: 1rem;">[[${concertName}]]</h2>
    <br/>
    <p>► 공연 일정: <strong>[[${concertDate}]]</strong></p>
    <p>► 예약 번호: <strong>No.[[${reservationId}]]</strong></p>
    <p>► 예약 좌석: <strong>[[${ticketNumber}]]</strong></p>
    <hr>
    <p>* 공연당일 현장 수령처에서 예매번호와 애매자 본인의 신분증(실물)으로 본인확인이 진행됩니다. 본인확인이 완료되면 티켓수령 후 입장하실 수 있습니다.</p>
    <p>* 티켓수형은 공연시작 1시간 30분 전부터 가능합니다.</p>
  </div>
</body>
</html>
